</main>
    <footer>
        <div class="container">
            <p>&copy; <%= new Date().getFullYear() + 1 %> Resume Builder. All rights reserved <a href="https://www.gu-saurabh.tech/" target="_blank">Saurabh Kumar</a>.</p>
        </div>
    </footer>
    <!-- You can add common scripts here -->
    <script src="/js/form-enhancements.js"></script>
</body>
</html>
